@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src: url("./fonts/mc.otf") format("opentype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background: #000000;
  font-family: pixel;
}

.commentElement {
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
